<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.studyplatform.dao.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="org.studyplatform.model.Administrator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, password, power
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from administrator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.studyplatform.model.Administrator" >
    insert into administrator (id, password, power
      )
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{power,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.studyplatform.model.Administrator" >
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="power != null" >
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.studyplatform.model.Administrator" >
    update administrator
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.studyplatform.model.Administrator" >
    update administrator
    set password = #{password,jdbcType=VARCHAR},
      power = #{power,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>